@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* Consider removing justify-content and align-items from body unless it's a flex or grid container */
}

.background {
    position: absolute;
    filter: blur(200px);
    background: url('/images/p9.jpg');
    background-size: cover;
    background-repeat: repeat;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}

.container {
    padding: 5%;
}

.gallery {
    display: flex;
    justify-content: left;
    gap: 1rem;
    width: 50rem; /* Adjust width for responsiveness using @media queries */
    padding-top: 25px;
}

.carrd {
    position: relative;
    left: 0;
    border-radius: 5rem;
    height: 20rem;
    overflow: hidden;
    transition: .4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0,0,0,.3);
    flex: 1;
}

.carrd img {
    position: relative;
    height: 20rem;
    object-fit: cover;
}

.carrd:hover {
    flex: 8;
    cursor: pointer;
    border-radius: 1rem; /* Adjust border-radius on hover for smoother effect */
}

.top {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: justify;
}

.bottom {
    padding-top: 25px;
}

/* Consider adding @media queries for responsiveness */
